body {
  background: #fdf0f0;
  box-sizing: content-box;
  width: 100%;
}
h1 {
  letter-spacing: 4px;
  font-family: "Staatliches", sans-serif;
  font-size: 5em;

  line-height: 1.1em;
}
.intro {
  background-color: #fdf0f0;
  color: #132043;
  display: grid;
  align-items: center;
  text-align: left;
  box-sizing: content-box;

  height: 800px;
  justify-content: center;
}
.navbar {
  background-color: #fdf0f0;
}
h3 {
  font-family: "Staatliches", sans-serif;
  color: #132043;
  font-size: 48px;
  line-height: 1.2em;
  letter-spacing: 4px;
}
p {
  font-family: "Space Mono", monospace;
  color: black;
  font-size: 20px;
  line-height: 1.5em;
}
h4 {
  font-family: "Staatliches", sans-serif;
  color: #1f4172;
  font-size: 32px;
  line-height: 1.2em;
  letter-spacing: 4px;
}
.who {
  background: #f1b4bb;
  height: 500px;
}
.who1 {
  padding: 80px 50px;
}
.grid p {
  font-family: "Space Mono", monospace;
  color: black;
  font-size: 16px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 600px;
}
.item1 {
  grid-column: 1 / span 3;
}
.my-work {
  background-color: #fdf0f0;
  padding: 80px 50px;
}
.work-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  align-items: flex-end;
}
.pillow {
  grid-column: 1 / span 2;
}
.shoes {
  grid-column-end: span 2;
  width: 100%;
}
.companies {
  padding: 80px 50px;
  background: #f1b4bb;
  height: 700px;
}
.companies-logos {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  gap: 60px;
}

@media (max-width: 576px) {
  .companies-logos {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    gap: 30px;
  }
  .work-img {
    gap: 10px;
  }
}
